body {
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
    display: flex;
    flex-direction: column;
    min-width: auto;
    flex: auto;
}

.header {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.2);
}

.header img {
    height: 100px;
    width: auto;
    flex: auto;
}

.header ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 32px;
    font-size: 18px;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: inherit;
}

.footer {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-size: 400;
    margin-top: 64px;
    padding: 32px;
}

/* everything here */

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container {
    display: flex;
    border-bottom: 1px transparent black;
    box-shadow: 1px 2px 4px rgba(0,0,0,.2);
    justify-content: center;
    padding: 12px;
    flex-shrink: 2;
    margin-bottom: 16px;
    margin-top: 32px;
}

.header-container .header-text {
    display: flex;
    flex-direction: column;
}

.header-container .header-title {
    flex: inherit;
    font-size: 64px;
    font-weight: 600;
}

.header-container .header-description {
    flex: inherit;
    font-size: 24px;
    font-weight: 300;
}

.header-container > div {
    padding: 16px;
    flex: auto;
}

.title {
    display: flex;
    flex: auto;
    font-size: 32px;
    font-weight: 700;
    margin-top: 16px;
    margin-left: 64px;
    margin-bottom: 16px;
}

.ingredient-container {
    display: flex;
    flex: auto;
    gap: 16px;
    justify-content: space-evenly;
    align-items: stretch;
    margin-top: 16px;
    border-bottom: 1px transparent black;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,.2);
}

.ingredient-container .ingredient-title {
    font-size: 24px;
    font-weight: 700;
}

.ingredient-container li {
    list-style-type: none;   
    font-weight: 300;
}

.directions-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px transparent black;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,.2);
    margin-bottom: 16px;
    padding: 16px;
}

.directions-container .directions-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
    font-size: 20px;
    font-weight: 400;
    
}

.title-step {
    display: flex;
    flex: auto;
    font-size: 28px;
    font-weight: 600;
    margin-top: 16px;
    margin-left: 86px;
    margin-bottom: 16px;
}